<div class="container-fluid" style="    height:100vh ;     background-image: rgb(198, 242, 255);    ">
 

    <div class="row" style="margin-top: 100px;">
      <div class="col-6 ">
          <img src="https://tesla-cdn.thron.com/delivery/public/image/tesla/03e533bf-8b1d-463f-9813-9a597aafb280/bvlatuR/std/4096x2560/M3-Homepage-Desktop-LHD"
          style="
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 40vw;;
          height:40vh;"
          alt="">
      </div>
   <div class="col-6 ">
      <h2>I am Groot</h2>
  <p>

      Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
      when an unknown printer took a galley of type and scrambled it to make a type specimen book.
       It has survived not only five centuries, but also the leap into electronic typesetting, 


  </p>
  </div>
</div>
    </div>
</div>